<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Up-scaler(up to 4 times - lossless) using GANs developed by Aditya Harsh</title>
</head>
<body>
<div align="center">
    <h1>Image Up-scaler(up to 4 times - lossless) using GANs developed by Aditya Harsh</h1>
    <h2>Upload new File(Please keep the file size to be < 1MB to avoid longer than usual wait time)</h2>
    <form method=post enctype=multipart/form-data>
        <p><input type=file name=file>
            <input type=submit value=Upload>
        </p>
    </form>
</div>
</body>
</html>